XCC-CONNECTION-URI=xcc://eps-extract:eps-extract@10.28.190.18:2223
INSTALL=false
MODULES-DATABASE=FFE-Modules
MODULE-ROOT=/eps-corb-xquery-xqy/EPS-Corb/scripts/
THREAD-COUNT=4

URIS-MODULE=uris.xqy
URIS-MODULE.numInBatch=2000

XQUERY-MODULE=transform.xqy

PROCESS-TASK=com.marklogic.developer.corb.ExportToFileTask
URIS-MODULE.planPolicyYearFilter=2015
