XCC-CONNECTION-URI=ENC(SHqicaVXupsVO2ExCuNIwIrfuDhrQzfIWXn3lT3B1q2P8AMkWjKriBAeDktK6GWvYYuYuX6MJDczn6k8UBnpiA==)
INSTALL=false
MODULES-DATABASE=FFE-Modules
MODULE-ROOT=/eps-corb-xquery-xqy/EPS-Corb/scripts/
THREAD-COUNT=4

URIS-MODULE=uris.xqy
URIS-MODULE.numInBatch=2000

XQUERY-MODULE=transform.xqy

PROCESS-TASK=com.marklogic.developer.corb.ExportToFileTask
