XCC-CONNECTION-URI=ENC(2crjbGn5XPnxwVWsI7u3NiWowt/YJYF7W3yjFXNV+WU5iDOwdynlc6e3FoUNSaLvD3EDT3ktk/8=)
INSTALL=false
MODULES-DATABASE=FFE-Modules
MODULE-ROOT=/eps-corb-xquery-xqy/EPS-Corb/scripts/
THREAD-COUNT=4

URIS-MODULE=uris.xqy
URIS-MODULE.numInBatch=2000

XQUERY-MODULE=transform.xqy

PROCESS-TASK=com.marklogic.developer.corb.ExportToFileTask
URIS-MODULE.planPolicyYearFilter=2015
